* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* common styles */
.btn-primary {
  color: #005fac;
  padding: 25px 20px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  background: #ffffff;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.section-title-wh {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}
.section-description {
  color: #444343;
  margin-bottom: 16px;
}
main {
  width: 1140px;
  margin: 0 auto;
}
/* header styles */
.header {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  margin-bottom: 131px;
  height: 808px;
}
.banner-container {
  text-align: right;
  width: 525px;
  padding: 216px 230px 166px 845px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 24px;
}
.banner-description {
  color: #ffffff;
  margin-bottom: 30px;
}

/* failure styles */
.failure {
  margin-bottom: 131px;
}
.failure-container {
  display: flex;
  justify-content: center;
  gap: 87px;
}
.failure-content {
  padding-top: 240px;
  padding-right: 130px;
  width: 600px;
}
.failures-list {
  color: #444343;
}
.failures-list li {
  list-style: none;
}
.failures-list i {
  color: #16d887;
}

/* plans section styles */
.plans {
  text-align: center;
  margin-bottom: 80px;
}
.plans-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.plans-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 27px;
  margin-bottom: 16px;
}
.plans-description {
  font-weight: 500;
  font-size: 25px;
  color: #757474;
}

/* contact banner styles */
.contact-banner {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 131px;
  background-repeat: no-repeat;
  height: 300px;
}
.contact-banner-container {
  padding: 60px 616px 60px 60px;
}

/* footer styles */
.footer {
  background: #151414;
  color: #ffffff;
  height: 577px;
}
.connect {
  display: flex;
  gap: 330px;
  margin: 0 auto;
  width: 1140px;
  padding-top: 131px;
}

.info-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.info-description {
  margin-bottom: 24px;
}
.info-email {
  margin-bottom: 16px;
}
.info-call {
  margin-bottom: 24px;
}
.form-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 31px;
}
.connect-form input[type="email"] {
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 16px;
  width: 325px;
  background-color: #151414;
}
.connect-form input[type="submit"] {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 30px;
  background: #005fac;
  border-radius: 8px;
  border: 0;
  color: #f3f3f3;
}
